name: my-docker-test-app

services:
  database:
    container_name: my-database
    hostname: sql1
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    volumes:
      - sqlserverdata:/var/opt/mssql 
    environment:
      MSSQL_SA_PASSWORD: "MyStrong!P@ssw0rd"
      MSSQL_PID: Express
      ACCEPT_EULA: "Y"

  backend:
    container_name: my-backend
    build:
      context: ./Backend
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sql1;Database=DxtTestDb;User=DxtTestDbReader;Password=DxtTestDbR003$;TrustServerCertificate=true;
    depends_on:
      - database
    ports:
      - "5000:8080"
      - "5001:8081"

  frontend:
    container_name: my-frontend
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - backend
    ports:
      - "5002:8082"
      - "5003:8083"

volumes:
  sqlserverdata:
